{
        "python.defaultInterpreterPath": "/usr/local/bin/python",
        "python.venvPath": "~/.local/share/venv",
        "[python]": {
                "editor.defaultFormatter": "ms-python.autopep8"
        }
}