{
        "python.defaultInterpreterPath": "/usr/local/bin/python",
        "python.venvPath": "~/.local/share/venv",
        "[python]": {
                "editor.defaultFormatter": "ms-python.black-formatter"
        },
        "mypy-type-checker.importStrategy": "fromEnvironment",
}